body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:$light-green;
    font-family: regular;
 
    // background-color:rgb(223, 222, 221);
}

.ml{
    margin-left: 190px;
}

.ml--radio{
    margin-left: 30px;
}

.mt{
    margin-top: -38px;
    
}

.wh{
    width: 100%;
}